<% provide :title, t(".help_title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".description_title" %>
  <%= t ".description_detail" %> 
  <%= link_to t(".email"), Settings.gamer_community.help.mail %>
</p>
