<div class="panel panel-default">
  <div class="panel-body">
    <p><%= t "topic.title" %></p>
    <% @topics.each do |topic| %>
      <li class="nav-item">
      <%= link_to topic.name, posts_path(:top => topic.id) %>
      <span class="badge badge-primary badge-pill">
        <%= topic.posts.count %>
      </span>
      </li>
    <% end %>
  </div>
</div>
