<div class="container mt-5 ml-5">
  <div class="row">
      <% @topics.each do |topic| %>
        <div class="table tabel-hover">
          <%= link_to posts_path(:top => topic.id) do %>
            <div class="list-group" style="max-width: 500px;">
              <div class="list-group-item list-group-item-action">
                <%= topic.name %> (<%= topic.posts.count %>)
                <%if logged_in? && current_user.admin? %>
                  <%= link_to t("delete.msg"), topic_path(topic), class: "btn btn-danger" %>
                <% end %>
              </div>
          <% end %>
          </div>
      <% end %>
      </div>
  </div>
</div>
