<%= form_for [@post, @post.activities.build] do |f| %>
    <%= f.label :field, t("activity.title") %><br>
    <%= f.select :field, Activity.fields.keys.map { |w| [w.humanize, w] } %>

    <p>
    <%= f.submit class: "btn btn-default" %>
  </p>
<% end %>
